html, body {
	width: 100%;
	height: 100%;
}
body {
	margin: 0;
	border: 0;
	padding: 0;
	background-color: #2F2F2F;
	color: #EEE;
}
a, a:active, a:visited {
	color: #EEE;
}
a:hover {
	text-decoration: none;
}
p { 
   font-family: 'News Cycle'; 
   font-weight: normal; 
   font-style: normal; 
}
#container {
	width: 100%;
	margin: 0 auto;
	min-height: 100%;
	background-color: #1E1E1E;
}
.wrapper {
		padding-bottom: 80px;
}
.lt-ie9 footer {
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}
.no-js #container, .no-boxshadow #container {
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}
.boxshadow #container, .boxshadow header, .boxshadow .footer-floating-wrapper {
	-webkit-box-shadow: inset 5px 0 10px -5px #000, inset -5px 0 10px -5px #000;
	-moz-box-shadow: inset 5px 0 10px -5px #000, inset -5px 0 10px -5px #000;
    box-shadow: inset 5px 0 10px -5px #000, inset -5px 0 10px -5px #000;
}
header {
	background-color: #2E2E2E;
	padding: 10px 20px;
	border-bottom: 5px solid #000;
	text-align: center;
}
section.content {
	padding: 10px 20px;
}
footer {
	position: relative;
	margin-top: -80px;
	height: 75px;
	clear: both;
	text-align: center;
}
.footer-floating-wrapper {
	margin: 0 auto;
	background-color: #2E2E2E;
	border-top: 5px solid #000;
	padding-bottom: 10px;
}
/* respond begin */
@media only screen and (max-width: 320px) { 
	#container, .footer-floating-wrapper {
		width: 100%;
		font-size: 1.4em;
	}
}
@media only screen and (max-width: 479px) { 
	#container, .footer-floating-wrapper {
		width: 100%;
		font-size: 1.4em;
	}
}
@media only screen and (min-width: 480px) and (max-width: 800px) { 
	#container, .footer-floating-wrapper {
		width: 96%;
	}
}
@media only screen and (min-width: 801px) and (max-width: 1024px) {
	#container, .footer-floating-wrapper {
		width: 740px;
	}
}
@media only screen and (min-width: 1025px) {
	#container, .footer-floating-wrapper {
		width: 940px;
	}
}
/* respond end */
#ubuntu-logo {
	width: 200px;
	float: right;
}
#ubuntu-logo:hover {
	opacity: 0.8;
}