html, body {
	width: 100%;
	height: 100%;
}
body {
	margin: 0;
	border: 0;
	padding: 0;
	background-color: #2F2F2F;
	color: #EEE;
}
a, a:active, a:visited {
	color: #EEE;
}
a:hover {
	text-decoration: none;
}
p { 
   font-family: 'News Cycle', sans-serif; 
   font-weight: normal; 
   font-style: normal; 
}
#container {
	width: 100%;
	margin: 0 auto;
	min-height: 100%;
	background-color: #1E1E1E;
}
.wrapper {
		padding-bottom: 80px;
}
.lt-ie9 footer {
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}
.boxshadow #container, .boxshadow header, .boxshadow .footer-floating-wrapper {
	-webkit-box-shadow: inset 5px 0 10px -5px #000, inset -5px 0 10px -5px #000;
	-moz-box-shadow: inset 5px 0 10px -5px #000, inset -5px 0 10px -5px #000;
    box-shadow: inset 5px 0 10px -5px #000, inset -5px 0 10px -5px #000;
}
.skip-link {float: left;}
header {
	background-color: #2E2E2E;
	padding: 10px 0 0;
	text-align: center;
}
#content {
	padding: 10px 20px;
}
footer {
	position: relative;
	margin-top: -95px;
	height: 95px;
	clear: both;
	text-align: center;
}
.footer-floating-wrapper {
	margin: 0 auto;
	background-color: #2E2E2E;
	border-top: 5px solid #000;
	height: 90px;
}
#container {font-size: 1.4em;}
#container, .footer-floating-wrapper {
	width: 100%;
	font-size: 1.4em;
}
@media only screen and (min-width: 800px) and (max-width: 1223px) {
	#container {
		font-size: 1em;
	}
	#container, .footer-floating-wrapper {
		width: 740px;
	}
}
@media only screen and (min-width: 1224px) {
	#container {
		font-size: 1em;
	}
	#container, .footer-floating-wrapper {
		width: 940px;
	}
	.no-boxshadow #container {
		background: url('../img/940px.content.tile.png') repeat-y;
	}
	.no-boxshadow header, .no-boxshadow .footer-floating-wrapper {
		background: url('../img/940px.headerfooter.tile.png') repeat-y;
	}
}
.no-js #container, .no-boxshadow #container {
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}
img#me {
	padding: 5px;
	background-color: #101010;
	margin-right: 10px;
	float: right;
}
#accessibility-toolbar {
	height: 20px;
}
.skip-link {
	padding: 0 0 10px 15px;
}
.main-menu-item {
	float: left;
}
.main-menu-item a {
	padding: 1px 15px;
	text-decoration: none;
	font-size: 14px;
	line-height: 28px;
	display: block;
}
.main-menu-item a:hover{
	color: #AAA;
	background-color: #1E1E1E;
}
nav {
	height: 30px;
	border-top: 5px solid #000;
	border-bottom: 5px solid #000;
}
#main-menu {
	padding-left: 0;
	margin: 0;
	float: left;
	clear: left;
}